$bg-color: rgba(246, 247, 248, 1);
$text-color: rgba(0, 0, 0, 1);
$word: rgba(18, 70, 88, 1);
$divider: #D1D1D1;
$email: #007cee;
$error: #ff0000;
$standard-btn: #2A3647;
$cta-info: #F6F7F8;
$btn-hover: #29ABE2;
$dark-btn: #091931;
$main-color: #2A3647;
$border-search: rgba(168, 168, 168, 1);
$empty-bg: rgba(255, 255, 255, 1);
$empty-border: rgba(168, 168, 168, 1);

/*#region Add-Task-page*/
$bg-add-task: #F6F7F8;
$text-add-title: #000000;
$border-add-input: #D1D1D1;
$placeholder: #686868;
$prio-text: #42526E;
$prio-low: #7AE229;
$prio-medium: #FFA800;
$prio-urgent: #FF3D00;
$active-input: #124658;
$assignees-hover: #d0cfcf65;
$input-text:#000000; 
$star: #FF8190;
/*#endregion Add-Task-page*/

