* {
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
text-decoration: none;
position: relative;
font-size: inherit;
color: inherit;
font-family: inherit;
background: initial;
border: initial;
}

html, body{
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
}

app-root{
    display: block;
    width: 100%;
    overflow-x: clip;
}

@media(min-width:768px) {
    app-contact-dialog .add-btn{
        display: none;
    }
}