<div class="overhead-wrapper">
    <div class="overhead-content">
        <h2>Contacts</h2>
        <div class="overhead-toggle">
            <p>Better with a team</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="return-button" (click)="goBack()">
        <button type="button">
            <img src="assets/icons/arrow_left.svg" alt="" />
        </button>
    </div>
</div>

@if (dbService.selectedContact(); as contact) {
<section class="contact-details">
    <div class="contact-person">
        <div class="contact-list__initials" [style.background-color]="contact.color">
            {{ contact.initials }}
        </div>
        <div class="head-and-links">
            <h3>{{ contact.name }}</h3>
            <div class="edit-links">
                <button type="button" (click)="openEditDialog()">
                    <img src="assets/icons/popup_edit.svg" alt="Edit-icon"> Edit
                </button>

                <button type="button" (click)="deleteContact()">
                    <img src="assets/icons/popup_delete.svg" alt="Delete-icon"> Delete
                </button>
            </div>
        </div>
    </div>

    <p>Contact Information</p>

    <strong>Email</strong>
    <a class="contact-list__email" [href]="'mailto:' + contact.email">
        {{contact.email}}
    </a>

    <strong>Phone</strong>
    <a [href]="'tel' + contact.phone">
        {{contact.phone}}
    </a>
</section>
}

<div class="contact-menu">
    <button type="button" class="add-btn" (click)="toggleMenu()">
        <img src="assets/icons/more_vert.svg" alt="add contact icon">
    </button>

    @if (menuOpen) {
    <div class="menu-backdrop" (click)="menuOpen = false"></div>
        <div class="menu-options">
            <button type="button" (click)="openEditDialog()">
                <img src="assets/icons/popup_edit.svg" alt="Edit-icon"> Edit
            </button>

        <button type="button" (click)="deleteContact()">
            <img src="assets/icons/popup_delete.svg" alt="Delete-icon"> Delete
        </button>
    </div>
    }
</div>
@if(dialogOpen) {
<div class="overlay">
    <div class="dialog" [class.closing]="closing" (animationend)="animationEnd()">
        <button class="close" (click)="closeDialog()">x</button>

        <header>
            <img class="join-logo" src="assets/icons/logo-white.svg" alt="">
            <h2>Edit contact</h2>
            <div class="line"></div>
        </header>

        <div class="avatar">
            <img src="assets/icons/profile.svg" alt="">
        </div>

        <form [formGroup]="contactForm" ] (ngSubmit)="saveContact()">
            <label [class.input-error]="contactForm.controls.name.touched && contactForm.controls.name.invalid">
                <input formControlName="name" placeholder="Name">
                <img src="assets/icons/input_person.svg" alt="">
            </label>
            <p class="form-error" [style.visibility]="contactForm.controls.name.touched && contactForm.controls.name.invalid ? 'visible' : 'hidden'">Please enter a name</p>

            <label [class.input-error]="contactForm.controls.email.touched && contactForm.controls.email.invalid">
                <input type="text" formControlName="email" placeholder="Email">
                <img src="assets/icons/input_mail.svg" alt="">
            </label>
            <p class="form-error" [style.visibility]="contactForm.controls.email.touched && contactForm.controls.email.invalid ? 'visible' : 'hidden'">Please enter a valid email</p>

            <label [class.input-error]="contactForm.controls.phone.touched && contactForm.controls.phone.invalid">
                <input type="tel" formControlName="phone" placeholder="Phone">
                <img src="assets/icons/input_call.svg" alt="">
            </label>
            <p class="form-error" [style.visibility]="contactForm.controls.phone.touched && contactForm.controls.phone.invalid ? 'visible' : 'hidden'">Please enter a valid phone number</p>

            <div class="form-buttons">
                <button class="cancel" type="button" (click)="deleteContact()">
                    Delete
                </button>
                <button type="submit" class="create">
                    Save <img src="assets/icons/check.svg" alt="check-icon">
                </button>
            </div>
        </form>
    </div>
</div>
}
