@use '../../styles/main.scss' as *;
@use '../../styles/mixin' as mixin;
:host{
    font-family: 'Inter', sans-serif;
}

button, input, textarea, select{
    font: inherit;
}

.overhead-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 20px;

    .overhead-content{
        width: auto;
        height: 100px;
        padding: 0;
        color: black;
        font-size: 20px;

        h2{
            margin: 0 0 8px;
            font-size: 42px;
        }

        p{
            margin: 0 0 12px;
        }
    }

    .return-button{
        position: relative;
        width:auto;
        height: 32px;
        z-index: 39;
        cursor: pointer;

        button{
            width: 32px;
            height: 32px;
        }

        img{
            pointer-events: none;
        }
    }
}

.contact-details{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    p{
        margin: 24px 0 20px;
        font-size: 20px;
    }

    strong{
        margin-bottom: 8px;
    }

    .contact-list__email{
        color: $email;
    }

    a{
        margin-bottom: 20px;
        text-decoration: none;
    }
}

.contact-person{
    display: flex;
    align-items: center;
    gap: 20px;

    h3{
        font-size: 28px;
    }

    .contact-list__initials{
        @include mixin.flex($direction: row, $justify: center, $align: center);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #FF7A00;
        color: white;
        font-size: 50px;
        font-weight: 400;
    }
}

.add-btn{
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);

    img{
        width: 30px;
    }
}

.contact-menu{
    position: fixed;
    right: 16px;
    bottom: 90px;
    z-index: 30;
}

.menu-options{
    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 116px;
    height: 100px;
    border-radius: 20px 20px 0 20px;
    gap: 16px;
    padding: 0 0 0 16px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-options button{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    inset: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    padding: 12px;
    background-color: rgb(0, 0, 0, 0.7);
}

.dialog{
    position: relative;
    width: min(396px, 100%);
    border-radius: 15px;
    z-index: 100;
    background-color: white;
    animation: slideUp 350ms ease-out;
}

.closing{
    animation: slideDown 350ms;
}

@keyframes slideUp{
    from {
        transform: translateY(100vh);
    }}
@keyframes slideDown{
    to {
        transform: translateY(100vh);
    }
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 20px;
    padding: 0 24px;
    border-radius: 15px 15px 0 0;

    .join-logo{
        display: none;
    }

    h2{
        margin: 0 0 8px;
        font-size: 42px;
    }

    p{
        margin: 0 0 12px;
    }
}

.line{
    width: 90px;
    height: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.avatar img{
    position: absolute;
    top: -60px;
    left: 30%;
    width: 120px;
    height: 120px;
}

.edit-links{
    display: none;
}

form{
    display: grid;
    gap: 16px;
    padding: 80px 24px;

    .canncel{
        display: none;
    }
}

label{
    display: flex;
    padding: 8px;
    border: 1px solid #535252;
    border-radius: 10px;

    input{
        width: 100%;
        border: 0;
        outline: 0;
    }

    img{
        width: 22px;
    }
}

.close{
    position: absolute;
    top: 22px;
    right: 22px;
    border: 0;
    color: white;
    background: none;
    font-size: 24px;
    z-index: 15;
    cursor: pointer;
}

.form-buttons{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 32px;
}

.cancel{
    display: block;
    width: 100px;
    height: 50px;
    font-size: 21px;
    border: 1px solid #535252;
    border-radius: 10px;
    color: #535252;
    cursor: pointer;
}

.create{
    width: 100px;
    height: 50px;
    font-size: 21px;
    border: 0;
    border-radius: 10px;
    color: white;
    background: rgba(42, 54, 71, 1);
    cursor: pointer;

    img{
        width: 16px;
        height: 16px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 786px) {
    .return-button{
        display: none;
    }

    .contact-menu{
        display: none;
    }

    .overhead-wrapper{
        padding: 100px;
    }

    .overhead-content{
        display: flex;
        align-items: center;
        width: 100px;
        gap: 32px;
    }

    .overhead-content h2{
        font-size: 47px;
    }

    .overhead-toggle{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 24px;
        font-size: 27px;

        .line{
            width: 3px;
            height: 70px;
        }
    }

    .contact-details{
        padding: 0 0 0 100px;
        gap: 16px;

        .contact-list__initials{
            width: 120px;
            height: 120px;
        }

        .head-and-links{
            width: auto;
            margin-left: 16px;
            font-size: 16px;
            .edit-links{
                display: flex;
                align-items: center;
                gap: 24px;
                padding: 16px 0 0 0;

                button:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                    color: rgba(42, 54, 71, 1);
                }
            }
            h3{
            font-size: 47px;
            }
        }

        p{
            font-size: 20px;
        }

        strong{
            font-weight: bold;
        }
    }

    .dialog{
        display: grid;
        grid-template-columns: 40% 60%;

        width: 90%;
        max-width: 1212px;
        height: 600px;
        border-radius: 25px;
        border: 0;
        animation: slideIn 350ms ease-out;
    }

    .closing{
        animation: slideOut 350ms ease-in;
    }

    @keyframes slideIn{
    from {
        transform: translateX(100vw);
    }}
    @keyframes slideOut{
    to {
        transform: translateX(100vw);
        }
    }

    header{
        border-radius: 25px 0 0 25px;
        padding: 120px 30px 190px 30px;
        height: 600px;
        img{
            margin-bottom: 24px;
        }

        h2{
            font-size: 61px;
        }

        .join-logo{
        display: block;
        width: 55px;
        }
    }

    .avatar{
        display: block;
        position: absolute;
        top: 270px;
        left: 45%;
    }

    .edit-links{
        display: block;
    }

    form{
        align-content: center;
        padding: 0 50px 0 250px;
        gap: 40px;

        label{
            width: 100%;

            input{
                width: 100%;
                font-size: 20px;
            }
        }

        .canncel{
            display: block;
            width: 100px;
            height: 50px;
            font-size: 21px;
            color: black;
            border: 1px solid #535252;
            border-radius: 10px;
            color: #535252;
        }

        .form-buttons{
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }
    }

    .create{
        position: static;
    }

    .close{
        color: black;
    }
}