@use '../../styles/main' as styles;

.help-container {
    min-width: 320px;
    width: 100%;
    padding: 50px 16px;
    background-color: styles.$bg-color;
    color: styles.$text-color;
    @include styles.font-regular;
    height: calc(100dvh - 96px);
    overflow-y: auto;
}

.help-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.help-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        @include styles.font-bold;
        margin: 0;
        font-size: 35px;
    }
}

.back-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
}

.back-link img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    transition: transform 0.05s ease, background-color 0.05s ease;
}

.back-link:hover {
    background-color: rgba(231, 231, 231, 1);
}

.back-link:hover img {
    transform: scale(1.1);
}

.help-content {
    max-width: 1200px;

    p {
        @include styles.font-regular;
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.4;
    }

    h2 {
        @include styles.font-bold;
        margin: 28px 0 16px;
        font-size: 27px;
        line-height: 1.2;
    }

    h3 {
        @include styles.font-bold;
        margin: 0;
        font-size: 20px;
        line-height: 1.2;
    }
}

.link {
    color: styles.$word;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.help-steps {
    margin: 0 0 28px;
    padding-left: 30px;

    li {
        padding-left: 0;
        margin-bottom: 22px;

        font-size: 24px;
        font-weight: 700;

        &::marker {
            @include styles.font-bold;
        }
    }

    .step-content {
        padding-left: 10px;

        p {
            margin-top: 2px;
            margin-bottom: 0;
            font-size: 16px;
        }
    }
}

.enjoy-title {
    display: none;
}

@include styles.tablet {
    .help-header {
        h1 {
            font-size: 52px;
        }
    }

    .help-content {
        p {
            font-size: 17px;
        }

        h2 {
            font-size: 34px;
        }
    }

    .help-steps {
        padding-left: 72px;

        .step-content {
            p {
                font-size: 17px;
            }
        }
    }
}

@include styles.laptop {
    .help-content {
        max-width: 1250px;

        p {
            font-size: 18px;
        }

        h2 {
            font-size: 36px;
        }
    }

    .help-steps {
        padding-left: 72px;

        li {
            margin-bottom: 24px;
        }

        .step-content {
            p {
                font-size: 18px;
            }
        }
    }

    .enjoy-title {
        display: block;
        margin-top: 36px;
    }

    @include styles.desktop {
        .help-container {
            padding: 100px 97px;
        }

        .help-header {
            h1 {
                font-size: 61px;
            }
        }

        .help-content {
            max-width: 1400px;

            p {
                font-size: 18px;
            }

            h2 {
                font-size: 27px;
            }

            h3 {
                font-size: 20px;
            }
        }

        .help-steps {
            padding-left: 25px;

            .step-content {
                p {
                    font-size: 20px;
                }
            }
        }
    }

    .back-link {
        width: 26px;
        height: 26px;
    }

    .back-link img {
        width: 21px;
        height: 20px;
    }

    .enjoy-title {
        display: block;
        margin-top: 36px;
    }
}