.header-content-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(42, 54, 71, 1);
    a{
        width: 30px;
        height: 30px;
        color:  rgba(18, 70, 88, 1);
        font-weight: bold;
    }
}