<section class="task-details">
    <button class="close-button" (click)="closeDetails.emit()">X</button>

    @if (!isEditing) {
    <span class="category" [class.technical-task]="task.category === 'technical_task'">
    {{ categoryName }}</span>

    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>

    <div class="detail-row">
        <span>Due Date:</span>
        <span>{{ task.due_date }}</span>
    </div>
    
    <div class="detail-row">
        <span>Priority:</span>
        <span>{{ task.priority }}</span>
    </div>

    <h3>Assigned To:</h3>

    <div class="contacts">
        @for (contact of task.assignedContacts; track contact.id) {
            <div class="contact">
                <span class="contact-avatar" [style.background-color]="contact.color">
                    {{ contact.initials }}
                </span>
                <span>{{ contact.name }}</span>
            </div>
        }
    </div>

<h3>Subtasks</h3>

<div class="subtasks">
    @for (Subtask of task?.subtasks; track Subtask.id) {
    <label>
        <input type="checkbox" [checked]="Subtask.completed" (change)="toggleSubtask(Subtask, $event)">
        {{ Subtask.title }}
    </label>
    }
</div>

<div class="actions-btn">
    <button type="button" (click)="startEditing()">
        <img src="/assets/icons_sprint2/edit.svg" alt="">Edit
    </button>

    <button type="button" (click)="requestDelete()">
    <img src="/assets/icons_sprint2/delete.svg" alt="">
    Delete
    </button>
</div>
} @else {
    <app-task-form [task]="task" (taskUpdated)="onTaskUpdate($event)" (cancelled)="cancelEditing()"></app-task-form>
}
</section>