@use '../../styles/main.scss' as *;

.add-btn {
    position: fixed;
    right: 16px;
    bottom: 90px;
    width: 56px;
    height: 56px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);
    z-index: 10;

    img {
        width: 30px;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: grid;
    place-items: center;
    padding: 12px;
    background-color: rgb(0, 0, 0, 0.7);
}

.dialog {
    position: relative;
    width: min(396px, 100%);
    border-radius: 15px;
    z-index: 100;
    background-color: white;

    animation: slideUp 350ms ease-out;
}

.closing {
    animation: slideDown 350ms;
}

@keyframes slideUp {
    from {
        transform: translateY(100vh);
    }
}

@keyframes slideDown {
    to {
        transform: translateY(100vh);
    }
}

header {
    padding: 90px 32px;
    color: white;
    background-color: rgba(42, 54, 71, 1);
    font-size: 20px;
    border-radius: 15px 15px 0 0;

    .join-logo {
        display: none;
    }

    h2 {
        margin: 0 0 8px;
        font-size: 42px;
    }

    p {
        margin: 0 0 12px;
    }
}

.line {
    width: 90px;
    height: 3px;
    background-color: rgba(41, 171, 226, 1);
}

.avatar img {
    position: absolute;
    top: -60px;
    left: 30%;
    width: 120px;
    height: 120px;
}

form {
    display: grid;
    gap: 10px;
    padding: 100px 24px;

    .canncel {
        display: none;
    }
}

label {
    display: flex;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

    input {
        width: 100%;
        border: 0;
        outline: 0;
    }

    img {
        width: 22px;
    }

    &.input-error {
        border-color: $error;
    }
}

.close {
    position: absolute;
    top: 22px;
    right: 22px;
    border: 0;
    color: white;
    background: none;
    font-size: 24px;
    z-index: 15;
    cursor: pointer;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 32px;
}

.create {
    width: 200px;
    height: 50px;
    font-size: 21px;
    border: 0;
    border-radius: 10px;
    color: white;
    background: rgba(42, 54, 71, 1);
    cursor: pointer;

    img {
        width: 16px;
        height: 16px;
        margin-top: 5px;
    }
}

.form-error {
    color: $error;
    font-size: 16px;
    margin: -10px 0 0;
}

.canncel{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .dialog {
        width: 90%;
        max-width: 900px;
        display: grid;
        grid-template-columns: 40% 60%;
        border-radius: 25px;
    }

    header {
        border-radius: 25px 0 0 25px;

        img {
            margin-bottom: 10px;
        }

        .join-logo {
            display: block;
            width: 55px;
        }
    }

    .avatar {
        display: none;
    }

    form {
        align-content: center;
        padding: 100px 50px;

        .canncel {
            display: block;
            width: 100px;
            height: 50px;
            font-size: 21px;
            color: black;
            border: 1px solid #535252;
            border-radius: 10px;
            color: #535252;
        }

        .form-buttons {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }
    }

    .create {
        position: static;
    }

    .close {
        color: black;
    }
}

@media screen and (min-width: 1160px) {
    .dialog {
        max-width: 1212px;
        height: 600px;
        grid-template-columns: 40% 60%;
    }

    header {
        padding: 190px 30px 100px 30px;

        h2 {
            font-size: 61px;
        }

        p {
            font-size: 27px;
        }
    }

    .avatar {
        display: block;
        position: absolute;
        top: 300px;
        left: 42%;
    }

    form {
        width: auto;
        padding: 0 50px 0 180px;

        label {
            width: 100%;

            input {
                width: 100%;
                font-size: 20px;
            }
        }

        .create {
            width: 214px;
            height: 60px;
            font-size: 21px;
        }

        .canncel {
            width: 126px;
            height: 60px;
            font-size: 20px;
        }
    }
}

