<button class="add-btn" (click)="dialogOpen = true">
    <img src="assets/icons/person_add.svg" alt="add contact icon">
</button>

@if(dialogOpen) {
    <div class="overlay">
        <div class="dialog">
            <button class="close" (click)="dialogOpen = false">x</button>

            <header>
                <h2>Add contact</h2>
                <p>Tasks are better with a team!</p>
                <div class="line"></div>
            </header>
            
            <div class="avatar">
                    <img src="assets/icons/profile.svg" alt="">
            </div>

            <form [formGroup]="contactForm"]>
                <label>
                    <input formControlName="name" placeholder="Name">
                    <img src="assets/icons/input_person.svg" alt="">
                </label>
                <label>
                    <input type="email" formControlName="email" placeholder="Email">
                    <img src="assets/icons/input_mail.svg" alt="">
                </label>
                <label>
                    <input type="tel" formControlName="phone" placeholder="Phone">
                    <img src="assets/icons/input_call.svg" alt="">
                </label>
            </form>

            <button class="create">
                Create contact
            </button>
        </div>
    </div>
}
