<button class="add-btn" (click)="open()">
    <img src="assets/icons/person_add.svg" alt="add contact icon" />
</button>

@if (dialogOpen() || databaseError()) {
    <div class="overlay">
        <div class="dialog" [class.closing]="closing" (animationend)="animationEnd()">
            <button class="close" (click)="closeDialog()">X</button>

            <header>
                <img class="join-logo" src="assets/icons/logo-white.svg" alt="" />
                <h2>Add contact</h2>
                <p>Tasks are better with a team!</p>
                <div class="line"></div>
            </header>

            <div class="avatar">
                <img src="assets/icons/profile.svg" alt="" />
            </div>

            <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
                <label [class.input-error]="submitted && contactForm.get('name')?.invalid">
                    <input formControlName="name" placeholder="Name" />
                    <img src="assets/icons/input_person.svg" alt="" />
                </label>
                @if (submitted && contactForm.get('name')?.invalid) {
                    <p class="form-error">Please enter a name</p>
                }
                <label [class.input-error]="submitted && contactForm.get('email')?.invalid">
                    <input type="email" formControlName="email" placeholder="Email" />
                    <img src="assets/icons/input_mail.svg" alt="" />
                </label>
                @if (submitted && contactForm.get('email')?.invalid) {
                    <p class="form-error">Please enter a valid email address</p>
                }
                <label [class.input-error]="submitted && contactForm.get('phone')?.invalid">
                    <input type="tel" formControlName="phone" placeholder="Phone" />
                    <img src="assets/icons/input_call.svg" alt="" />
                </label>
                @if (submitted && contactForm.get('phone')?.invalid) {
                    <p class="form-error">Please enter a phone number</p>
                }

                @if (databaseError()) {
                    <p class="form-error">{{ databaseError() }}</p>
                }

                <div class="form-buttons">
                    <button class="canncel" type="button" (click)="closeDialog()">Cancel X</button>
                    <button class="create" type="submit">
                        Create contact <img src="assets/icons/check.svg" alt="" />
                    </button>
                </div>
            </form>
        </div>
    </div>
}
