.task-card {
    width: 250px;
    height: 260px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;

    .task-card-content-headline {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        .catagory-name {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0038ff;
            width: 100px;
            height: 30px;
            border-radius: 8px;
            color: white;
            font-family: Inter;

            &.technical-task {
                background-color: #1fd7c1;
            }
        }
    }

    .task-card-text-content {
        margin-bottom: 10px;

        h3 {
            font-size: 16px;
        }

        .task-title {
            margin-bottom: 10px;
            font-family: Inter;
            font-weight: bold;
        }

        .task-card-description {
            font-family: Inter;
            font-size: 16px;
        }
    }

    .subtask-content-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Inter;
        margin-bottom: 20px;
    }
}

.initial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .initial-content {
        display: flex;

        p {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-left: -12px;
            color: white;
            background-color: red;
            font-family: Inter;
            font-size: 20px;
            border: 2px solid black;
        }
    }
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-family: Inter;
}
.initials--more {
    background-color: #d1d1d1;
    color: #2a3647;
    font-size: 12px;
    font-weight: 600;
    margin-left: -6px;
}

.progress-container {
    width: 100px;
    height: 8px;
    border-radius: 10px;
}

.progress-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        display: flex;
        width: 100%;
    }
}