@use '../../styles/main.scss' as *;
@use'../../styles/mixin' as mixin;
@use'../../styles/main' as styles;

.contact-list-wrapper {
    @include mixin.flex($justify: center, $align: stretch);
    width: 100%;
    height: 100%;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);

}

.contact-list {
    @include mixin.flex($direction: column, $align: flex-start);
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    font-family: inter;
    cursor: pointer;

    &__scroll {
        width: 100%;
        min-height: 0;
        scrollbar-width: thin;
        flex: 1;
        padding-right: 12px;
        overflow-y: auto;
        overflow-x: clip;
    }

    &__group {
        width: 100%;
    }

    &__letter {
        padding: 17px 36px;
        color: black;
        font-size: clamp(16px, 2dvw, 20px);
        ;
        font-weight: 400;
    }

    &__divider {
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        background-color: $divider;
    }

    &__contact {
        @include mixin.flex($direction: row, $align: center);
        gap: 35px;
        min-height: 50px;
        padding: 15px 24px;
    }

    &__initials {
        @include mixin.flex($direction: row, $justify: center, $align: center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF7A00;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }

    &__information {
        @include mixin.flex($direction : column, $align: start);
        min-width: 0;
        gap: 3px;
        flex: 1;
    }

    &__name {
        margin: 0;
        max-width: 100%;
        color: black;
        font-size: 20px;
        overflow: clip;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__email {
        color: $email;
        max-width: 100%;
        font-size: 16px;
        text-decoration: none;
        white-space: nowrap;
        overflow: clip;
        text-overflow: ellipsis;
    }

    &__add {
        @include mixin.flex($justify: center);
        @include mixin.font-bold;
        gap: 16px;
        width: 100%;
        height: 56px;
        padding: 0 24px;
        margin-bottom: 16px;
        color: white;
        background-color: $standard-btn;
        border-radius: 10px;
        line-height: 1.2;
        font-size: 21px;
        cursor: pointer;

        >img {
            width: 30px;
            height: 21px;
        }
    }
}

.toast-notification {
    @include styles.font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60dvh;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 350ms ease-out;
    height: 70px;
    width: 320px;
    padding: 20px;
    background-color: rgba(42, 54, 71, 1);
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

@keyframes slideUp {
    from {
        transform: translateX(100vh);
    }
}

@keyframes slideDown {
    to {
        transform: translateX(100vh);
    }
}

@media (max-width: 767px) {
    .contact-list__add {
        display: none;
    }
}

@media (min-width: 767px) {
    .toast-notification {
        @include styles.font-bold;
        top: 75dvh;
        left: 50%;
        transform: translateX(-50%); 
    }

    @keyframes slideUp {
        from {
            transform: translateX(100vh);
        }
    }

    @keyframes slideDown {
        to {
            transform: translateX(100vh);
        }
    }
}

@media (min-width: 1025px) {
    .contact-list {
        &__add {

            &:hover {
                background-color: $btn-hover;
                box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
            }

            &:active {
                background-color: $dark-btn;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            }
        }

        &__contact {
            border-radius: 10px;

            &:hover:not(&--selected) {
                background-color: $cta-info;
            }

            &--selected {
                background-color: $standard-btn;

                .contact-list__name,
                .contact-list__email {
                    color: white;
                }
            }
        }
    }

    .toast-notification {
        @include styles.font-bold;
        position: fixed;
        top: 70dvh;
        left: 50%;
        transform: translateX(-50%);
        animation: slideUp 350ms ease-out;
        height: 70px;
        width: 320px;
        padding: 20px 20px;
        background-color: rgba(42, 54, 71, 1);
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        font-weight: 500;
    }

    @keyframes slideUp {
        from {
            transform: translateX(100vh);
        }
    }

    @keyframes slideDown {
        to {
            transform: translateX(100vh);
        }
    }
}