@use '../../styles/main.scss' as *;
@use'../../styles/mixin' as mixin;
@use'../../styles/main' as styles;

.contact-list-wrapper {
    @include mixin.flex($justify: center);
    width: 100%;
}

.toast-notification {
    position: fixed;
    top: 850px;
    right: 650px;
    z-index: 999999;
    background-color: #2e7d32;
    padding: 12px 24px;
    border-radius: 8px;
}


.contact-list {
    @include mixin.flex($direction: column, $align: flex-start);
    width: 100%;
    min-width: 360px;
    max-width: 400px;
    padding-left: 24px;
    box-sizing: border-box;
    font-family: inter;

    &group {
        width: 100%;
    }

    &letter {
        padding: 17px 36px;
        color: black;
        font-size: clamp(16px, 2dvw, 20px);
        ;
        font-weight: 400;
    }

    &divider {
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        background-color: $divider;
    }

    &contact {
        @include mixin.flex($direction: row, $align: center);
        gap: 35px;
        min-height: 50px;
        padding: 15px 24px
    }

    &initials {
        @include mixin.flex($direction: row, $justify: center, $align: center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #FF7A00;
        color: white;
        font-size: 16px;
        font-weight: 400;
    }

    &information {
        @include mixin.flex($direction : column, $align: start);
        gap: 3px;
    }

    &name {
        margin: 0;
        color: black;
        font-size: 20px;
    }

    &email {
        color: $email;
        font-size: 16px;
        text-decoration: none;
    }

&add {
        @include mixin.flex($justify: center);
        @include mixin.font-bold;
        gap: 16px;
        width: 340px;
        height: 56px;
        padding: 0 24px;
        color: white;
        background-color: $standard-btn;
        border-radius: 10px;
        line-height: 1.2;
        font-size: 21px;
        cursor: pointer;

        >img {
            width: 30px;
            height: 21px;
        }
    }
}

@media (max-width: 767px) {
    .contact-listadd {
        display: none;
    }
}

@media (min-width: 768px) {
    .contact-list {
        &add {
            margin-top: 24px;

            &:hover {
                background-color: $btn-hover;
                box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
            }

            &:active {
                background-color: $dark-btn;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            }
        }

        &contact {
            border-radius: 10px;

            &:hover:not(&--selected) {
                background-color: $cta-info;
            }

            &--selected {
                background-color: $standard-btn;

                .contact-listname,
                .contact-listemail {
                    color: white;
                }
            }
        }
    }
}

.toast-notification {
    @include styles.font-bold;
    position: fixed;
    top: 850px;
    right: 650px;
        animation: slideUp 350ms ease-out;
    height: 70px;
    width: 320px;
    padding: 20px;

    background-color: rgba(42, 54, 71, 1);
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-weight: 500;


}

@keyframes slideUp {
    from {
        transform: translateX(100vh);
    }
}

@keyframes slideDown {
    to {
        transform: translateX(100vh);
    }
}
