.app-layout{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100dvh;
}

.page{
    display: grid;
    grid-template-rows: auto 1fr;

    min-width: 0;
    overflow: hidden;
}

main{
    min-width: 0;
    overflow-y: auto;
    overflow-x: clip;
}

@media screen and (max-width: 1024px){
    .app-layout{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .page{
        display: contents;
    }

    app-header{
        grid-row: 1;
    }

    main{
        grid-row: 2;
    }

    app-aside{
        grid-row: 3;
    }
}

@media screen and (max-width: 1024px){
    main{
        padding-bottom: 80px;
    }
}