<aside>
    <section class="aside-content-section">
        <div class="join-icon-wrapper">
            <img class="d-none" src="assets/icons/Capa 1.png" alt="">
        </div>
        <nav class="nav-bar">
            <div class="nav-icon-wrapper">
                <a href=""><img src="assets/icons/nav_summary.svg" alt=""></a>
                <a href="">Summary</a>
            </div>
            <div class="nav-icon-wrapper">
                <a routerLink="/add-task"><img src="assets/icons/nav_add_task.svg" alt=""></a>
                <a routerLink="/add-task">Add Task</a>
            </div>
            <div class="nav-icon-wrapper">
                <a routerLink="/board"><img src="assets/icons/nav_board.svg" alt=""></a>
                <a routerLink="/board" class="board-img">Board</a>
            </div>
            <div class="nav-icon-wrapper">
                <a href=""><img src="assets/icons/nav_contacts.svg" alt=""></a>
                <a href="">Contacts</a>
            </div>
        </nav>
        <div class="privacy-policy-legal-notice-wrapper">
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/legal-notice">Legal notice</a>
        </div>
    </section>
</aside>