.contacts{
    height: 100%;
}

.contact-info{
    display: none;
}

.contacts.selected {
    .contact-list{
    display: none;
    }
    .contact-info{
        display: block;
    }
}

.contact-list {
    height: 100%;
}

@media screen and (min-width: 768px){
    .contacts{
        display: grid;
        grid-template-columns: 424px 1fr;
        grid-template-rows: 100%;
    }

    .contacts.selected .contact-list{
        display: block;
    }

    .contact-info{
        display: block;
    }
}