<form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <h1>Add Task</h1>

    <label for="title">Title*</label>
    <input id="title" formControlName="title" placeholder="Enter a title">
    @if (taskForm.controls.title.touched && taskForm.controls.title.invalid) {
        <span class="error">This field is required</span>
    }

    <label for="description">description</label>
    <textarea id="description" formControlName="description" placeholder="Enter a description"></textarea>

    <label for="dueDate">Due Date*</label>
    <input id="dueDate" type="date" formControlName="dueDate">
    @if (taskForm.controls.dueDate.touched && taskForm.controls.dueDate.invalid) {
        <span class="error">This field is required</span>
    }

    <p>Priority</p>

    <div class="Priority-buttons">
        @for (priority of priorities; track priority) {
            <button type="button" [class.active]="taskForm.controls.priority.value === priority"
            (click)="setPriority(priority)">
                {{ priority }}
            </button>
        }
    </div>

    <div class="Assigned-field">
        <label>Assigned to</label>

        <button type="button" (click)="toggleDropDown()">
            Select contacts to assign <span>+</span>
        </button>
        @if (dropdownOpen) {
            <div class="contact-dropdown">
                @for (contact of contacts(); track contact.id) {
                    <label class="contact-option">
                        <span class="contact-initials" [style.backgroundColor]="contact.color">
                            {{ contact.initials }}
                        </span>

                        <span>{{ contact.name }}</span>

                        <input type="checkbox" [checked]="isSelected(contact.id)"
                        (change)="toggleContact(contact.id)">
                    </label>
                } @empty {
                    <p>No contacts available</p>
                }
            </div>
        }
        <div class="selected-contacts">
            @for (contact of selectContacts; track contact.id) {
                <span class="contact-initials" [style.backgroundColor]="contact.color" [title]="contact.name">
                    {{ contact.initials }}
                </span>
            }
        </div>
    </div>

    <label for="category">Category*</label>
    <select id="category" formControlName="category">
        <option value="">Select task category</option>
        <option value="technical_task">technical Task</option>
        <option value="user_story">User Story</option>
    </select>
    @if (taskForm.controls.category.touched && taskForm.controls.category.invalid) {
        <span class="error">This field is required</span>
    }

    <label for="subtask">Subtasks</label>
    <input id="subtask" placeholder="Add new subtask">

    <div class="form-actions">
        <button type="button" (click)="clearForm()">Clear</button>
        <button type="submit">Create Task</button>
    </div>
</form>