@use '../../styles/fonts';

section {
    width: 100%;
    padding: 20px;
}

.summary-headline-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    text-align: start;
    h2 {
        font-size: 36px;
        width: 100%;
    }

    p {
        font-size: 20px;
        margin: 0;
        width: 100%;
    }

    p:nth-child(3) {
        font-size: 20px;
        width: 70px;
        height: 3px;
    }
}

.line{
    width: 20px;
    height: 10px;
    border-radius: 16px;
    background-color: rgba(41, 171, 226, 1);
}

.summary-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.summary-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.to-do-wrapper,
.done-wrapper {
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid black;
    border-radius: 16px;

    p:nth-child(2) {
        margin-top: 10px;
    }
}

.img-bg {
    width: 55px;
    height: 55px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: rgba(42, 54, 71, 1);

    img {
        width: 25px;
        height: 25px;
    }
}

.to-do-container,
.done-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
    }

    p:nth-child(1) {
        font-size: 50px;
        font-weight: bold;
    }

    p:nth-child(2) {
        font-size: 18px;
    }
}

.secound-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.urgent-wrapper {
    width: 100%;
    max-width: 320px;
    height: 150px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid black;
    border-radius: 16px;

    img {
        width: 50px;
        height: 50px;
    }
}

.urgent-content-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
        text-align: center;
    }
    p:nth-child(2) {
        margin-top: 10px;
    }
}

.urgent-content {
    p:nth-child(1) {
        font-size: 45px;
        font-weight: bold;
    }

    p:nth-child(2) {
        font-size: 18px;
    }
}

.urgent-data-wrapper {
    p {
        margin: 0;
    }

    p:nth-child(1) {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p:nth-child(2) {
        font-size: 14px;
    }
}

.third-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.task-wrapper,
.progress-wrapper,
.feedback-wrapper {
    width: 100px;
    height: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 16px;

    p {
        margin: 0;
        text-align: center;
    }

    p:nth-child(1) {
        font-size: 45px;
        font-weight: bold;
        color: black;
    }

    p:nth-child(2) {
        font-size: 16px;
        color: rgba(42, 54, 71, 1);
        margin-top: 10px;
    }
}

.greeting-wrapper{
    display: none;
}

.sec-line{
    width: 2px;
    height: 60px;
    background-color: rgba(209, 209, 209, 1);
}

@media (min-width: 768px) {
body{
    padding: 0;
}
}

@media (min-width: 1200px) {
    .greeting-wrapper{
    display: block;
}
}