/* Inter Regular */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('angular-projects/join/assets/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

/* Inter Bold */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('angular-projects/join/assets/fonts/inter-v20-latin-700.woff2') format('woff2');
}