@import '/join/src/app/styles/fonts';

@mixin font-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

@mixin font-bold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

@mixin tablet {
    @media (min-width: 720px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1440px) {
        @content;
    }
}