$bg-color: rgba(246, 247, 248, 1);
$text-color: rgba(0, 0, 0, 1);
$word: rgba(18, 70, 88, 1);
$divider: #D1D1D1;
$email: rgba(0, 124, 238, 1);
$error: #ff0000;
$standard-btn: #2A3647;
$cta-info: #F6F7F8;
$btn-hover: #29ABE2;
$dark-btn: #091931;