<aside>
    <section class="aside-content-section">
        <div class="join-icon-wrapper">
        <img class="d-none" src="/assets/icons/Capa 1.png" alt="">
        </div>
        <nav class="nav-bar">
<div class="nav-icon-wrapper">
    <a href=""><img src="/assets/icons/nav_summary.svg" alt=""></a>
    <a href="">Summary</a>
</div>
<div class="nav-icon-wrapper">
    <a href=""><img src="/assets/icons/nav_add_task.svg" alt=""></a>
    <a href="">Add Task</a>
</div>
<div class="nav-icon-wrapper">
    <a href=""><img class="board-img" src="/assets/icons/nav_board.svg" alt=""></a>
    <a href="">Board</a>
</div>
<div class="nav-icon-wrapper">
    <a href=""><img src="/assets/icons/nav_contacts.svg" alt=""></a>
    <a href="">Contacts</a>
</div>
        </nav>
        <div class="privacy-policy-legal-notice-wrapper">
        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
        </div>
    </section>
</aside>
