@use "../../styles/fonts";
aside {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgba(42, 54, 71, 1);
}

.aside-content-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.d-none{
    display: none;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80px;
    height: 70px;
    border-radius: 10px;
    img{
        width: 30px;
        height: 30px;
    }
    a {
        color: rgba(255, 255, 255, 1);
        font-family: Inter;
    }
    &:active{
        background-color: rgba(9, 25, 49, 1);
    }
    &:hover{
        background-color: rgba(42, 61, 89, 1);

    }
}

.privacy-policy-legal-notice-wrapper{
    display: none;
    a{
        font-family: Inter;
}

}

@media (min-width: 768px) {

    aside {
        height: 100dvh;
        width: 230px;
    }

    .aside-content-section {
        display: flex;
        flex-direction: column;
        height: 100dvh;
    }

    .join-icon-wrapper {
        display: flex;
        justify-content: center;
        height: 200px;
        width: 100%;

        > img {
            width: 100px;
            height: 120px;
        }
    }

    .d-none {
        display: block;
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-icon-wrapper {
        width: 100%;
        flex-direction: row;
        border-radius: 0;

        .board-img {
            margin-right: 20px;
        }
    }

    .privacy-policy-legal-notice-wrapper {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        a {
            color: rgba(255, 255, 255, 1);
            width: 100%;
            text-align: center;
            &:hover {
                color: rgba(18, 70, 88, 1);
            }
            &:active{
                background-color: rgba(9, 25, 49, 1);
            }
        }
    }
}