@use '@angular/material' as mat;

.toast-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60dvh;
    left: 50%;
    transform: translateX(-50%);
    animation: slideUp 350ms ease-out;
    height: 70px;
    width: 320px;
    padding: 20px;
    background-color: rgba(42, 54, 71, 1);
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    z-index: 9999;
}

@keyframes slideUp {
    from {
        transform: translateX(100vh);
    }
}

@keyframes slideDown {
    to {
        transform: translateX(100vh);
    }
}

@media screen and (min-width: 1160px) {
.toast-notification {
        position: fixed;
        top: 75dvh;
        left: 50%;
        transform: translateX(-50%);
        animation: slideUp 350ms ease-out;
        height: 70px;
        width: 320px;
        padding: 20px;
        background-color: rgba(42, 54, 71, 1);
        color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        font-size: 22;
        font-weight: 500;
    }

    @keyframes slideUp {
        from {
            transform: translateX(100vh);
        }
    }

    @keyframes slideDown {
        to {
            transform: translateX(100vh);
        }
    }
}

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    height: 100%;
}


html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
    margin: 0;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
}

main{
    background-color: rgba(246, 247, 248, 1);
}

app-root {
    display: block;
    width: 100%;
    overflow-x: clip;
}

@media (min-width: 768px) {
    app-contact-dialog .add-btn {
        display: none;
    }
}

.task-dialog-panel {
    height: 90dvh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.task-dialog-panel .task-form {
    padding-bottom: 16px;
}

.task-dialog-panel .task-form__actions {
    @media (max-width: 767px) {
        position: static;
    }
}