.legal-notice-container {
    min-width: 320px;
    width: 100%;
    padding: 16px;
    background-color: rgba(246, 247, 248, 1);
    color: rgba(0, 0, 0, 1);

    h1 {
        font-size: 47px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 12px;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 16px;

        li {
            font-size: 14px;
            line-height: 1.4;
            margin-bottom: 4px;
        }
    }

    .link {
        color: rgba(18, 70, 88, 1);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .contact-text {
        margin-top: 20px;
    }

    .date {
        margin-top: 16px;
        margin-bottom: 32px;
    }
}